* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(238, 238, 172);
}

header {
    background-color: #161616e1;
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
    
}

header ul{
    margin-right: 30px;
    
}

header ul li{
    list-style: none;
    display: inline-block;
    float: right;
    line-height: 100px;
    
}

header ul li a{
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
    color: beige;
    padding: 0 20px;
    
}

header ul li a:hover{
    color:rgb(194, 60, 60);
}

main h2{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main fieldset{
    margin: 20px;
    background-color: rgba(224, 224, 153, 0.788);
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.466);
}

main fieldset legend{
    margin-left: 50px;
    margin-bottom: 20px;
}

main fieldset div{
    margin-left: 20px;
    margin-bottom: 20px;
}
main fieldset div label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inputs{
text-align: center;
}

.btn{
    padding: 15px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.932);
    color: antiquewhite;
    border: none;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}

.btn:hover{
    background-color:rgb(63, 57, 57);
    cursor:pointer;
}

.card{
    background-color: rgba(224, 224, 153, 0.788);
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.466);
    width: 500px;
    height: 400px;
    margin-bottom: 50px;
    margin-left: 35%;
}

.userImg{
    object-position: center;
    width: 200px;
    height:200px;
    padding: 30px;
    position:relative;
    }

    .card h4{
        text-align: center;
        margin-bottom: 10px ;
    }
footer {
    margin-top: 138px;
    background-color: #161616;
    font-family: 'Righteous', cursive;
    padding: 15px;
    height: 50px;

}

    .copyRight{
        color: blanchedalmond;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

    .sochialMedia{
        float: right;
        color: blanchedalmond;
        
        
    }



